<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Teacher</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">Teachers</li>
              <li class="breadcrumb-item active">Add</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Form</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="name">Class</label>
                        <select formControlName="grade_id" id="class" class="form-control">
                            <option value="">Select Class</option>
                            <option *ngFor="let c of ClassList.data" [value]="c.id">
                              {{c.name}}
                            </option>
                          </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="subject_id">Subject</label>
                        <select formControlName="subject_id" id="subject_id" class="form-control">
                            <option value="">Select Subject</option>
                            <option *ngFor="let c of SubjectList.data" [value]="c.id">
                              {{c.name}}
                            </option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="day">Day</label>
                        <select formControlName="day" id="day" class="form-control">
                            <option value="">Select Day</option>
                            <option *ngFor="let c of Daylist" [value]="c.id">
                              {{c.name}}
                            </option>
                          </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="teacher">Teacher</label>
                        <select formControlName="teacher_id" id="teacher" class="form-control">
                            <option value="">Select Teacher</option>
                            <option *ngFor="let c of TeachersList.data" [value]="c.id">
                              {{c.name}}
                            </option>
                          </select>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="CheckIn">Start Time</label>
                        <input
                          type="text"
                          class="form-control"
                          id="CheckIn"
                          placeholder="HH:mm:ss"
                          formControlName="start_time"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="Checkout">End Time</label>
                        <input
                          type="text"
                          class="form-control"
                          id="Checkout"
                          placeholder="HH:mm:ss"
                          formControlName="end_time"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mt-3">
                      <button class="btn btn-md btn-primary float-right">Add</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  