<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Schedule Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="/admin/home">Home</a></li>
              <li class="breadcrumb-item active"><a routerLink="/admin/teachers">Schedules</a></li>
              <li class="breadcrumb-item active">Schedule Detail</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Class schedule details</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">

                

                <table id="example2" class="table table-bordered table-hover mt-3">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th>Teacher</th>
                      <th>Timing</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let t of ScheduleDetail">
                      <th> {{ t.subject_name }}</th>
                      <th>{{ t.teacher_name }}</th>
                      <th>{{ t.start_time +' - '+t.end_time }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  